
body{
    background-image: url( "../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
html, body, button{
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    vertical-align:middle;
}
.top{
    height:150px;;
    margin:50px 30px 0px 30px;
}
#logo{
    width:180px;
}
#button-list{   
    float:right;
    margin:-7px 20px 0 0;
    padding:0;
}
.top-button{
    margin-right:20px;
    padding:0;
    border:none;
    font-size: 25px;
    background-color:#fff;
    padding:0 6px;
    outline:none;
    transition: background-color 1s;
}
.top-button:hover{
    background-color: #000;
    color:#fff;
    transition: background-color 0.3s;
}
.navigation{
    float: right;
}
.link{
    font-weight: bold;
    margin-right:40px;
    text-decoration:none;
    color:black;
}
.link:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #000;
    text-decoration-thickness: 3px;
}
/* End Of TOP 

    Start Of Bottom*/
.bottom{
    display: inline-block;
    width: 100%;
}
.left-bar{
    margin-left:30px;
    width: 20px;
    float:left;
}
.columns{
    float:left;
    height: 100%;
}
#socials-list{
    margin-top:100px;
    padding:0;
}
.socials{
    color:#000;
    line-height: 35px;
    padding:5px;
}
.left-column{
    margin-left:100px;
        width:40%;
}
#left-text{
    margin-top:100px;
    margin-left:35px;
}
.section-title{
    font-weight: bolder;
    font-size: 100px;
    line-height: 70px;
    margin:0;
}
.section-description{
    margin:30px 0;
    font-size: 17px;
}
#read-more{
    font-weight: bold;
    padding:12px 40px;
    background-color: #fefefe;
    border-width: 1px;
}
.right-bar{
    float:right;
    width:10%;
    }  
.right-button {
    font-size: 12px;
    float:right;
    width:120px;
    margin:1px 2px;
    font-weight:500;
    border: none;
    outline:none;
    padding:15px 20px;
    background-color: #fff;
    transition: background-color 1s;
}
.right-button >.fa-random,
.right-button >.fa-shopping-cart {
    color:#EF2853;
    font-size: 20px;
}
.right-button:hover{
    background-color: #EF2853;
    color:#fff;
    transition: background-color 0.3s;
}
.right-column{
    float:right;
}
#like{
    float:right;
    height:370px;
    margin: 100px 100px 0px 0px;
}
@media (max-width: 1200px) {
    body {
    background-image: none;
}
}